/* color pallet for this project*/
/* https://coolors.co/dad7cd-a3b18a-588157-3a5a40-344e41 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
    height: 100vh;
    grid-gap: 5px;
}
.Title-page{
    grid-column: 1 / span 2;
    height: 7vh;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    flex-direction: column;
    grid-row: 2 / span 1;
}
main{
    display: flex;
    flex-direction: column;
}
textarea{
    height: 85vh;
    width: 75vw;
    resize: none;
}
#Nav-button{
    border-radius: 0;
    margin-top: 1px;
    border-style: none;
    height: 25px;
}
.Main-top-form{
    display: flex;
    justify-content: space-between;
}
.Main-input-div{
    font-family: sans-serif;
    position: relative;
    width: 50%;
    height: 50px;
    overflow: hidden;
}
#Main-input-title{
    color: #595f6e;
    padding-top: 20px;
    border: none;
    outline: none;
    padding-left: 4px;
    width:100%;
    height: 100%;
}
.Main-lable-title{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.Main-lable-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid aqua;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.Main-content-input-lable-title{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}
#Main-input-title:focus + .Main-lable-title .Main-content-input-lable-title, #Main-input-title:valid + .Main-lable-title .Main-content-input-lable-title{
    transform: translateY(-150%);
    font-size: 14px;
    color: aqua;
}
#Main-input-title:focus + .Main-lable-title::after, #Main-input-title:valid + .Main-lable-title::after{
    transform: translateX(0%);
} 
.Main-top-buttons{
   margin-right: 5px; 

}
.Main-top-buttons > button{
    border-style: none;
    border-radius: 0;
}